*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



html,
body{

    width:100%;
    height:100%;

    overflow:hidden;

    background:#202020;

}



/* VISOR 3D */

#visor3D{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100%;

    display:block;

    z-index:0;

}



/* PRESENTACIÓN */

#pantallaInicio{

    position:fixed;

    top:80px;

    left:20px;

    z-index:100;


    background:rgba(30,30,30,0.85);

    padding:15px 20px;

    border-radius:14px;


    color:white;


    backdrop-filter:blur(5px);


    animation:entradaInicio 0.6s ease;

}



/* ICONO COCODRILO */

#pantallaInicio .logo{

    font-size:40px;

    text-align:center;

    margin-bottom:5px;

}



/* TITULO */

#pantallaInicio h1{

    margin:0;

    font-size:24px;

    letter-spacing:2px;

}



/* DESCRIPCIÓN */

#pantallaInicio p{

    margin:5px 0;

    font-size:15px;

    opacity:0.8;

}



/* VERSION Y AUTOR */

#pantallaInicio span{

    font-size:13px;

    opacity:0.6;

}



/* ANIMACIÓN */

@keyframes entradaInicio{


    from{

        opacity:0;

        transform:translateY(-20px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }


}





/* BARRA DE BOTONES */

#barraHerramientas{

    position:fixed;

    bottom:20px;

    left:20px;

    z-index:20;


    display:flex;

    flex-direction:column;

    gap:12px;

}



/* BOTONES */

.botonHerramienta{

    width:55px;

    height:55px;

    border-radius:50%;

    border:none;


    background:#333;

    color:white;


    font-size:26px;


    cursor:pointer;


    display:flex;

    align-items:center;

    justify-content:center;


    user-select:none;

    -webkit-user-select:none;

}



/* EFECTO AL TOCAR */

.botonHerramienta:active{

    transform:scale(0.9);

}
